---
import pkg from '../../package.json';

import SvgIcon from './SvgIcon.astro';
import ThemeSwitch from './ThemeSwitch.astro';

import { navigation, personal, site } from '../lib/site.js';
import { getLinkActiveState } from '../lib/utils.js';

const { currentPath = '/' } = Astro.props;
---

<footer class="site-footer mt-l-xl p-s-m">
  <div class="wrapper">
    <div class="cluster gutter-xs">
      <nav class="cluster text-step-0" aria-label={site.navigation.ariaBottom}>
        &copy; {new Date().getFullYear()}
        <a href="/" aria-current={currentPath === '/' ? 'page' : undefined}>
          <span class="font-display">{site.siteName}</span> <small>{pkg.version}</small>
        </a>

        {
          navigation.bottom.map(item => {
            const state = getLinkActiveState(item.url, currentPath);
            return (
              <a href={item.url} aria-current={state.ariaCurrent} data-state={state.dataState}>
                {item.text}
              </a>
            );
          })
        }
      </nav>

      <nav class="cluster" aria-label={site.navigation.ariaPlatforms}>
        <a href={site.blog.feedLinks[0].url} rel="alternate" type={site.blog.feedLinks[0].type}>
          <span class="visually-hidden">{site.blog.feedLinks[0].title}</span>
          <SvgIcon name="misc/rss" />
        </a>

        {
          Object.entries(personal.platforms).map(([key, value]) => {
            if (!value) {
              return null;
            }

            return (
              <a class="no-indicator" href={value} rel="me">
                <span class="visually-hidden">{key}</span>
                <SvgIcon name={`platform/${key}`} />
              </a>
            );
          })
        }
      </nav>
    </div>

    <ThemeSwitch />

    <aside class="creator | cluster gutter-2xs text-step-min-1 mt-xl">
      Made with <span class="visually-hidden">love</span> <span><SvgIcon name="misc/heart" /></span> and
      <a class="no-indicator" href="https://astro.build/">
        Astro
      </a>
      by
      <a href={site.creator.website}>{site.creator.name}</a>
    </aside>
  </div>
</footer>
